<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CountApplication</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>This is your form, Here you can input a random txt, it will be counted and print the output</h1>
{% csrf_token %}
<form action="{% url 'count' %}">
		<textarea name="fulltext" id="fulltext" cols="50" rows="5"></textarea>
		<br>
		<button type="submit">Submit</button>
	</form>
</div>

</body>
</html>